.form{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.labelblock{
  display:flex;
  flex-direction: column;
}

.inputblock{
  display:flex;
  flex-direction: column;
}

.addcontainer{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #758694;
}