.form{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.labelblock{
  display:flex;
  flex-direction: column;
  color: white;
}

.inputblock{
  display:flex;
  flex-direction: column;
}

.addcontainer{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #758694;
}

.title{
  color: white;
}

.buttoncontaider{
  display: flex;
  flex-direction: row;
  justify-content:center ;
  gap: 15px;
}

.deleteBtn {
  color: white;
  background-color: red;
}

.addBtn {
  background-color: green;
  color: white;
}

.editBtn {
  background-color: fuchsia;
  color: white;
}