.Header {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #758694;
  font-size: large;
  padding-top: 0.5cm;
  justify-content: center;
  align-content: center;
}

.title{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: xx-large;
}


.tableHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#select { 
}

th{
  width: 100px;
}

table {
  table-layout : fixed;
  width: 100%;
}